body {
  background-color: #141414;
  color: #848484;
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-image: url('http://i.imgur.com/NUgDkU3.jpg');
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #848484;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.img {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}

.options {
  display: flex;
  justify-content: center;
}

.options li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.data-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.data-item {
  margin: 20px;
  width: 20%;
  text-align: center;
}

.data-list-items {
  margin-bottom: 7px;
}

.data-list-items :hover {
  color: #fd5927;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
}

.nav li {
  margin-right: 15px;
}

.nav li :hover{
  font-weight: bold;
  color: #fd5927;
}

.nav li a:hover{
  background-color: transparent;
}

.nav li a.active{
  background-color: transparent;
  color: #fd5927;
}

.active {
  font-weight: bold;
  color: #fd5927;
  background-color: transparent;
}

.title-header {
  position: fixed;
  margin-top: 150px;
}

.title-header .title {
  font-weight: bold;
  font-size: 65px;
  color: white;
  text-align: center;
}

.title-header .subtitle {
  font-weight: bold;
  font-size: 40px;
  color: #fd5927;
  text-align: center;
  line-height: 100%;
}

.title-header .subdesc {
  font-size: 25px;
  color: #848484;
  text-align: center;
}

.about {
margin-top: 50px;
}

.about .title {
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.about .subtitle {
  font-weight: bold;
  font-size: 25px;
  color: white;
  line-height: 100%;
}

.about .subdesc {
  font-size: 15px;
  color: #848484;
  line-height: 120%;
  margin-right: 300px;
}

.my-button {
    display: flex;
    justify-content: center;
}

.my-button .title {
    font-size: 15px;
    color: #ababab;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 1px ;
}

.my-button li {
    cursor: pointer;
    color: #ababab;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 1px ;
}

.my-button li.active {
    background-color: ##ababab;
    color: white;
    border: 1px solid #4CAF50;
}

.my-button li:hover:not(.active),
.my-button li.current-button {
  color: #fd5927;
  border: 1px solid #fd5927;
}

.center-pagination {
   text-align: center;
}
.pagination li a {
  background-color: #141414;
  color: #ababab;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  background-color: #141414;
  color: #ababab;
  cursor: default;
}
.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover {
  background-color: #141414;
  color: #fd5927;
}
.pagination .active a,
.pagination .active a:focus,
.pagination .active a:hover,
.pagination .active span,
.pagination .active span:focus,
.pagination .active span:hover {
  background-color: #141414;
  color: #fd5927;
  border-color: #ababab;
}

.inline {
  display:inline;
  margin-right:5px;
}

.context {
  font-size: 12px;
}
.genre {
  display: inline;
}
.editable {
 -moz-user-modify: read-write;
 -webkit-user-modify: read-write;
}

a:hover {
    color: #fd5927;
}
