{% extends "layout.html" %}
{% block title %}artists{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block currentmenuitem %}
<li class="menu-item"><a href="/index">Home</a></li>
<li class="menu-item current-menu-item"><a href="/artists">Artists</a></li>
<li class="menu-item"><a href="/albums">Albums</a></li>
<li class="menu-item"><a href="/songs">Songs</a></li>
<li class="menu-item"><a href="/tours">Tours</a></li>
<li class="menu-item"><a href="/about">About</a></li>
{% endblock %}
{% block content %}

<main class="main-content">
    <div class="fullwidth-block gallery">
      <div class="container">
        <div class="content fullwidth">
          <h2 class="entry-title">Artists</h2>
          <div class="filter-links filterable-nav">
            <h3>Filter By</h3>
            <a href="#" class="current" data-filter="*">Show all</a>
            <a href="#" data-filter=".alternative">Alternative</a>
            <a href="#" data-filter=".blues">Blues</a>
            <a href="#" data-filter=".country">Country</a>
            <a href="#" data-filter=".electronic">Electronic</a>
            <a href="#" data-filter=".indie">Indie</a>
            <a href="#" data-filter=".rap">Rap</a>
            <a href="#" data-filter=".rock">Rock</a>

          </div>

          <div class="filter-links filterable-nav">
            <h3>Sort By</h3>
            <a href="#" data-filter=".ascending">Ascending</a>
            <a href="#" data-filter=".descending">Descending</a>

          </div>
          
          <div class="filterable-items">
            {% for key,value in genres.items() %} <!-- {'alternative':[rihanna, ladygaga]} -->
              {% for i in value %}
                <div class="filterable-item {{key}}">
                  <h3>{{i.Name}}</h3>
                <a href="/artist/{{i.Name}}"><figure><img src="{{i.Image}}" alt="" height="300" width="300"></figure></a>
                </div>
              {% endfor %}
            {% endfor %}
          </div>

          <div class="filterable-items">
            {% for item in asc %} <!-- {'alternative':[rihanna, ladygaga]} -->
                <div class="filterable-item ascending">
                  <h3>{{item.Name}}</h3>
                <a href="/artist/{{item.Name}}"><figure><img src="{{item.Image}}" alt="" height="300" width="300"></figure></a>
                </div>
            {% endfor %}
          </div>

          <div class="filterable-items">
            {% for item in desc %} <!-- {'alternative':[rihanna, ladygaga]} -->
                <div class="filterable-item descending">
                  <h3>{{item.Name}}</h3>
                <a href="/artist/{{item.Name}}"><figure><img src="{{item.Image}}" alt="" height="300" width="300"></figure></a>
                </div>
            {% endfor %}
          </div>

          </div>
        </div>
      </div>
    </div> <!-- .testimonial-section -->


  </main> <!-- .main-content -->

{% endblock %}
