{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
      This is the index.html.
    </p>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Carousel -->

    <div class="container" style="width:50%;">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="http://via.placeholder.com/300x300" style="width:100%;">
            <div class="carousel-caption">
              <h3>Big Caption</h3>
              <p>smaller caption, wow captions</p>
            </div>
          </div>

          <div class="item">
            <img src="http://via.placeholder.com/300x300" style="width:100%;">
          </div>
        
          <div class="item">
            <img src="http://via.placeholder.com/300x300" style="width:100%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <p class="important"><a href="/bands">bands.html</a></p>
    <p class="important"><a href="/people">people.html</a></p>
    <p class="important"><a href="/albums">albums.html</a></p>
    <p class="important"><a href="/tours">tours.html</a></p>
    <p class="important"><a href="/songs">songs.html</a></p>
    <p class="important"><a href="/bands/info">bands-info.html</a></p>
    <p class="important"><a href="/people/info">people-info.html</a></p>
    <p class="important"><a href="/albums/info">albums-info.html</a></p>
    <p class="important"><a href="/tours/info">tours-info.html</a></p>
    <p class="important"><a href="/songs/info">songs-info.html</a></p>
{% endblock %}
