{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
      This is the index.html.
    </p>
    <p class="important"><a href="/bands">Index.html</a></p>
    <p class="important"><a href="/people">people.html</a></p>
    <p class="important"><a href="/albums">albums.html</a></p>
    <p class="important"><a href="/tours">tours.html</a></p>
    <p class="important"><a href="/songs">songs.html</a></p>
    <p class="important"><a href="/bands/info">bands-info.html</a></p>
    <p class="important"><a href="/people/info">people-info.html</a></p>
    <p class="important"><a href="/albums/info">albums-info.html</a></p>
    <p class="important"><a href="/tours/info">tours-info.html</a></p>
    <p class="important"><a href="/songs/info">songs-info.html</a></p>
{% endblock %}
