{% extends "layout.html" %}
{% block title %}songs{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block currentmenuitem %}
<li class="menu-item"><a href="/index">Home</a></li>
<li class="menu-item"><a href="/artists">Artists</a></li>
<li class="menu-item"><a href="/albums">Albums</a></li>
<li class="menu-item current-menu-item"><a href="/songs">Songs</a></li>
<li class="menu-item"><a href="/tours">Tours</a></li>
<li class="menu-item"><a href="/about">About</a></li>
{% endblock %}
{% block content %}
<main class="main-content">
    <div class="fullwidth-block gallery">
      <div class="container">
        <div class="content fullwidth">
          <h2 class="entry-title">Songs</h2>
          <div class="filter-links filterable-nav">
            <select class="mobile-filter">
              <option value="*">Show all</option>
              <option value=".concert">Concert</option>
              <option value=".band">Band</option>
              <option value=".stuff">Stuff</option>
            </select>
            <a href="#" class="current" data-filter="*">Show all</a>
          </div>
          <div class="filterable-items">
          {% for item in data %}

              <div class="filterable-item concert">
              <h3>{{item.Name}}</h3>
              <a href="/songs/{{item.Name}}"><figure><img src="{{item.Image}}" alt="" height="300" width="300"></figure></a>
            </div>

          {% endfor %}
          </div>
          </div>
        </div>
      </div>
 <!-- .testimonial-section -->


  </main> <!-- .main-content -->

{% endblock %}
