{% extends "layout.html" %}
{% block title %}songs{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block currentmenuitem %}
<li class="menu-item"><a href="/index">Home</a></li>
<li class="menu-item"><a href="/artists">Artists</a></li>
<li class="menu-item"><a href="/albums">Albums</a></li>
<li class="menu-item current-menu-item"><a href="/songs">Songs</a></li>
<li class="menu-item"><a href="/tours">Tours</a></li>
<li class="menu-item"><a href="/about">About</a></li>
{% endblock %}
{% block content %}
<main class="main-content">
    <div class="fullwidth-block gallery">
      <div class="container">
        <div class="content fullwidth">
          <h2 class="entry-title">Songs</h2>
          <div class="filter-links filterable-nav">
            <h3>Filter By</h3>

            <a href="#" class="current" data-filter="*">Show all</a>
          </div>

          <div class="filter-links filterable-nav">
            <h3>Sort By</h3>
            <a href="#" data-filter=".ascending">Ascending</a>
            <a href="#" data-filter=".descending">Descending</a>

          </div>

          <div class="filterable-items">
          {% for item in data %}

              <div class="filterable-item concert">
              <h3>{{item.Name}}</h3>
              <a href="/songs/{{item.Name}}"><figure><img src="{{item.Image}}" alt="" height="300" width="300"></figure></a>
            </div>

          {% endfor %}
          </div>
          <div class="filterable-items">
            {% for item in asc %} <!-- {'alternative':[rihanna, ladygaga]} -->
                <div class="filterable-item ascending">
                  <h3>{{item.Name}}</h3>
                <a href="/song/{{item.Name}}"><figure><img src="{{item.Image}}" alt="" height="300" width="300"></figure></a>
                </div>
            {% endfor %}
          </div>

          <div class="filterable-items">
            {% for item in desc %} <!-- {'alternative':[rihanna, ladygaga]} -->
                <div class="filterable-item descending">
                  <h3>{{item.Name}}</h3>
                <a href="/song/{{item.Name}}"><figure><img src="{{item.Image}}" alt="" height="300" width="300"></figure></a>
                </div>
            {% endfor %}
          </div>


          </div>
        </div>
      </div>
 <!-- .testimonial-section -->


  </main> <!-- .main-content -->

{% endblock %}
